{% extends 'PurBeurre/base.html' %}

{% block content %}
{% load static %}
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                    <h2 class="mb-4">Vos substituts favoris</h2>
            </div>
        </section>
        <!-- Services-->
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Vous pouvez remplacer cet aliment par:</h2>
                <hr class="divider" />
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    {% for product in page_obj %}
                        <div class="col-lg-4 col-sm-6 text-center portfolioProduct">
                            {% if product.nutriscore == 'A' %}
                                <img class="img-responsive nutriLetter" src="{% static 'assets/img/nutriscore-a.svg' %}" alt="{{ product.product_name }}">
                            {% elif product.nutriscore == 'B' %}
                                <img class="img-responsive nutriLetter" src="{% static 'assets/img/nutriscore-b.svg' %}" alt="{{ product.product_name }}">
                            {% elif product.nutriscore == 'C' %}
                                <img class="img-responsive nutriLetter" src="{% static 'assets/img/nutriscore-c.svg' %}" alt="{{ product.product_name }}">
                            {% elif product.nutriscore == 'D' %}
                                <img class="img-responsive nutriLetter" src="{% static 'assets/img/nutriscore-d.svg' %}" alt="{{ product.product_name }}">
                            {% elif product.nutriscore == 'E' %}
                                <img class="img-responsive nutriLetter" src="{% static 'assets/img/nutriscore-e.svg' %}" alt="{{ product.product_name }}">
                            {% endif %}
                            <a class="portfolio-box" href="product_info" title="{{ product.product_name }}" target="_blank">
                                <img class="img-responsive" src="{{ product.product_image }}" alt="{{ product.product_name }}">
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Voir fiche produit</div>
                                    <div class="project-name">{{ product.product_name }}</div>
                                </div>
                            </a>
                            {% if user.is_authenticated %}
                                <a class="btn btn-primary btn-xl btn-favorite" href="#about">ajouter aux favoris</a>
                            {% else %}
                                <p>Ajouter aux favoris ? <a href="/user/signin">connectez-vous maintenant !</a></p>
                            {% endif %}
                        </div>
                        {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
            <nav aria-label="">
                <ul class="pager">
                    {% if page_obj.has_previous %}
                        <a href="?query={{query}}&page=1">« première</a>
                        <li><a href="?query={{query}}&page={{ page_obj.previous_page_number }}">Précédent</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="?query={{query}}&page={{ page_obj.next_page_number }}">Suivant</a></li>
                        <a href="?query={{query}}&page={{ page_obj.paginator.num_pages }}">dernière »</a>
                    {% endif %}
                </ul>
            </nav>
{% endblock %}