{% extends 'PurBeurre/base.html' %}

{% block content %}
{% load static %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-center">
                        <h1 class="text-white font-weight-bold">Du gras, oui, mais de qualité!</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Retrouvez nos mentions légales</p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Mentions légales</h2>
                <hr class="divider" />
                <div class="editor">
                    <h4>Editeur du site</h4>
                    <ul>
                        <li>Ewen</li>
                        <li>Contact: ewen@purbeurre.com</li>
                    </ul>
                </div>
                <div class="publication">
                    <h4>Directeur de publication</h4>
                    <ul>
                        <li>Colette et Rémy</li>
                        <li>Contact: coletteremy@purbeurre.com</li>
                    </ul>
                </div>
                <div class="host">
                    <h4>Hébergeur du site</h4>
                    <ul>
                        <li>Heroku</li>
                        <li>tel: 1-800-667-6389</li>
                        <li>Siège social: 415 Mission Street, San Francisco</li>
                    </ul>
                </div>
                <div class="tech">
                    <h4>Technologie</h4>
                    <ul>
                        <li>Django</li>
                        <li>Bootstrap, template Copyright (c) 2013-2021 Start Bootstrap LLC</li>
                        <li>Photo du fond de Olenka Kotyk sous <a href="https://unsplash.com/photos/eqsEZNCm4-c">Unsplash License</a></li>
                        <li>Icones par <a href="https://fontawesome.com/">Font Awesome</a></li>
                    </ul>
                </div>
                <p></p>
            </div>
        </section>

{% endblock %}